$main-background: rgb(53, 53, 53);
$container-background: rgb(255, 255, 255);
$main-font-color: rgb(255, 255, 255);
$main-border-color: rgb(255, 255, 255);

$link-background: rgb(38, 69, 53);
$link-color: rgb(255, 255, 255);
$link-hover-background: rgb(236, 211, 181);
$link-hover-color: rgb(38, 69, 53);



