@use "../base/" as base;

.business-name-and-logo-row {
  margin: 1rem;
}

.business-logo-image {
  max-height: 220px;
  width: auto;
}

@media (max-width: 768px) {
  .business-logo-image {
    max-height: 150px;
  }
}
