@use '../base' as base;

.home-index-title {
  margin: 0.5rem;
}

.showcase-customer {
  margin: 4rem;
}

.customer-to-showcase {
  color: base.$link-color;
  background-color: base.$link-background;
  border: 1px solid base.$link-color;
  border-radius: 0.5rem;;
  margin: 1rem;
  padding: 1rem;
  &:hover {
    color: base.$link-hover-color;
    background-color: base.$link-hover-background;
  }
}