@use "./base" as *;
@use "./components" as components;
@use "./layouts" as layout;

body {
	text-align: center;
	font-family: $ubuntu;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	line-height: 1.5;
	font-weight: 400;
	color: $main-font-color;
	background-image: $gradient-background;
}
a {
	color: inherit;
	text-decoration: none;
}
