@use './base' as base;
@use './components' as components;
@use './layouts' as layout;

body {
  text-align: center;
  font-family: base.$ubuntu;
  display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	line-height: 1.5;
	font-weight: 400;
	color: base.$main-font-color;
	background-color: base.$main-background;
}

a {
  color: inherit;
  text-decoration: none;
}

